
spring.application.name=toolkit_for_everything
server.servlet.context-path=/api

spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mariadb://localhost:3306/toolkit_for_everything
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
spring.jpa.show-sql: true

## SSl
# server.ssl.key-store=classpath:localhost+1.p12
# server.ssl.key-store-type=PKCS12
# server.ssl.key-store-password=changeit
